.fc
  h2
    font-size: 18px

  .fc-toolbar.fc-header-toolbar
    margin-bottom: 8px

  .fc-button
    width: 35px
    height: 35px
    padding: 0
    background-color: $green
    border: 0

  .fc-today-button
    font-size: 10px
    font-weight: bold
    background-color: $green
    border: 0

    &:disabled
      background-color: #2C3E50

  .fc-day-header
    font-size: 10px
    line-height: 3

  .fc-axis
    &.fc-time,
    &.fc-widget-content
      font-size: 12px
      line-height: 1.2
    &.fc-widget-content
      text-align: center
    &.fc-time
      text-align: right

  .fc-time-grid-event .fc-time,
  .fc-content
    font-size: 8px
    white-space: normal
    word-wrap: break-word

  .fc-event
    background-color: $green
    border-color: $green

  .fc-divider
    background-color: #fff

.fc-unthemed
  th,
  td,
  thead,
  tbody,
  .fc-divider,
  .fc-row,
  .fc-content,
  .fc-popover,
  .fc-list-view,
  .fc-list-heading td
    border-color: #d2d2d2


  td.fc-today
    background-color: #ebf5ec
