@import 'reset'
@import 'mixin'
@import 'base'
@import 'components'

=center
  display: flex
  flex-flow: column
  align-items: center

#topview
  width: 100vw
  height: 99vh
  display: flex
  +center
  justify-content: center
  .logo
    height: 40vh
  p
    margin-top: 50px

#scrollDown
  width: 100vw
  display: flex
  flex-flow: column
  .line
    width: 100vw
    margin-top: 5px
    background-color: $green
    @for $i from 1 through 4
      &:nth-child(#{$i})
        height: 10px * $i

#first
  margin-top: 5px
  display: flex
  +max-SP
    flex-direction: column
  align-items: center
  h2
    margin-top: 30px

#event
  margin-top: 0
  padding: 50px
  +center
  h2
  +max-SP
    padding: 25px
    margin-top: 0px
  .list
    max-width: 1080px
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 50px
    +max-SP
      display: block
    .post
      +center
      align-items: flex-start
      +max-SP
        display: block
        margin-bottom: 30px
      img, a
        width: 100%
      a
        $listMaxWidth: 1080px
        $listGridGap: 50px
        display: block
        overflow-y: hidden
        height: calc(((100vw - 100px - #{$listGridGap} * 2) / 3) * (9 / 16))
        max-height: (($listMaxWidth - $listGridGap * 2) / 3 ) * (9 / 16)
        position: relative
        +max-SP
          height: calc((100vw * (9 / 16))
          max-height: 600px
        transition: .2s
        &::after, &::before // for hover animation
          position: absolute
          content: ''
          display: block
          background-color: #000
          z-index: 10
          transition: .3s
          height: 25px
          opacity: .6
          width: 0
        &::after // left up
          top: 0
          right: 0
        &::before // right down
          left: 0
          bottom: 0
        &:hover
          img
            filter: brightness(125%)
          &::after, &::before
            width: 100%
          &::after
            left: 0
            right: auto
          &::before
            left: auto
            right: 0
        img
          margin: auto 0
          position: absolute
          top: 0
          bottom: 0
          transition: 1s
          filter: brightness(100%)
      h3
        margin-top: 30px
        text-align: left
      p
        margin-top: 10px
        text-align: justify
        line-height: 1.5em
        font-weight: 100

#about
  +center
  h3
    margin: 15px 0
  .content
    margin-top: 30px
    display: flex
    align-items: flex-start
    max-width: 1080px
    +max-SP
      flex-direction: column
      align-items: center
    img
      +max-SP
        width: 90%

    .text
      margin-left: 40px
      line-height: 2em
      +max-SP
        margin-left: 0
        width: 90%
    h2
      text-align: left
    p
      text-align: justify

#service
  padding: 50px 0
  +center
  h2
    line-height: 1.9em
  .list
    max-width: 1080px
    margin-top: 30px
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: 50px
    +max-SP
     grid-template-columns: 1fr
     width: 90%
     grid-gap: 10vw 8%
    .item
      +center
      align-items: flex-start
      img
        width: 100%
        border-radius: 25%//丸くしてるのこれ　消せば四角
      h3
        margin-top: 30px
        text-align: left
      p
        margin-top: 10px
        text-align: justify
        line-height: 1.5em
        font-weight: 100
      +max-SP
        display: grid
        grid-template-rows: 30px 25px 1fr
        grid-template-columns: 100px 1fr
        grid-gap: 0 10px
        img
          grid-row: 1 / 1 
        h3
          grid-row: 1 / 2
          grid-column: 2 / 3
          margin-top: 0px
        p
          grid-row: 2 / 6
          grid-column: 2 / 3
          margin-top: 0px

#price
  .list
    margin-top: 50px
    display: flex
    +max-SP
     flex-direction: column
     align-items: center
    justify-content: center
    .item
      width: 300px
      margin: 20px 50px
      h3
        display: block
        height: 2.5em
        border: 1px solid $green
        line-height: 2.5em
        font-weight: 500
      .grid
        margin-top: 30px
        display: grid
        grid-template-columns: auto auto
        grid-gap: .75em
        .n
          text-align: right

#map
  margin-top: 100px
  .map
    margin-top: 30px
    width: 100vw

footer
  display: flex
  flex-flow: column
  justify-content: space-between
  padding: 0 50px 50px 50px
  img
    width: 30vw
    +max-SP
      width: 100%
    margin: 50px 0
  p
    line-height: 1.8em
    font-weight: 100
  .mtw
    margin-top: 1.5em
