@import 'reset'
@import 'mixin'
@import 'base'
@import 'components'

#topview
  width: 100vw
  height: 99vh
  +center
  justify-content: center
  .logo
    height: 16.5vw
  p
    margin-top: vw1680(50)

#scrollDown
  width: 100vw
  display: flex
  flex-flow: column
  .line
    width: 100vw
    margin-top: vw1680(5)
    background-color: $green
    @for $i from 1 through 4
      &:nth-child(#{$i})
        height: vw1680(10) * $i

#first
  margin-top: vw1680(5)
  display: flex
  align-items: center
  h2
    margin-top: vw1680(50)

#event
  margin-top: 0
  padding: vw1680(50)
  +center
  h2
    margin-top: vw1680(15)
  .list
    max-width: vw1680(1080)
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: vw1680(50)
    .post
      +center
      align-items: flex-start
      img
        width: 100%
      h3
        margin-top: vw1680(30)
        text-align: left
      p
        margin-top: vw1680(10)
        text-align: justify
        line-height: 1.5em
        font-weight: 100

#about
  +center
  h3
    margin: vw1680(15) 0
  .content
    margin-top: vw1680(30)
    display: flex
    align-items: flex-start
    max-width: vw1680(1080)
    .text
      margin-left: vw1680(40)
      line-height: 2em
    h2
      text-align: left
    p
      text-align: justify

#service
  padding: vw1680(50) 0
  +center
  h2
    line-height: 1.9em
  .list
    max-width: vw1680(1080)
    margin-top: vw1680(30)
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: vw1680(50)
    .item
      +center
      align-items: flex-start
      img
        width: 100%
        border-radius: 50%//丸くしてるのこれ　消せば四角
      h3
        margin-top: vw1680(30)
        text-align: left
      p
        margin-top: vw1680(10)
        text-align: justify
        line-height: 1.5em
        font-weight: 100




#price
  .list
    margin-top: vw1680(50)
    display: flex
    justify-content: center
    .item
      width: vw1680(300)
      margin: 0 vw1680(50)
      h3
        display: block
        height: 2.5em
        border: 1px solid $green
        line-height: 2.5em
        font-weight: 500
      .grid
        margin-top: vw1680(30)
        display: grid
        grid-template-columns: auto auto
        grid-gap: .75em
        .n
          text-align: right

#map
  margin-top: vw1680(200)
  .map
    margin-top: vw1680(30)
    width: 100vw

footer
  display: flex
  flex-flow: column
  justify-content: space-between
  padding: 0 vw1680(50) vw1680(50) vw1680(50)
  img
    width: 30vw
    margin: vw1680(50) 0
  p
    line-height: 1.8em
    font-weight: 100
  .mtw
    margin-top: 1.5em
