doctype html

title MIRAI BASE
meta(charset='utf-8')
meta(name='description' content='')
meta(name="keywords", content='キーワード')
meta(name='viewport' content='width=device-width,initial-scale=1.0')
meta(name='robots' content='noindex')

body
  h1 Hello world!
  p We are ready to go.
  img(src="./images/mb-logo-vartical-green.svg", alt="")

script(src='app.js')
