doctype html

title MIRAI BASE
meta(charset='utf-8')
meta(name='description' content='個人的な作業やグループでの作業の場にしたり、共通の技術を用いる仲間とのコミュニケーションを行ったり、実際にものづくりをして経験を積んでみたり。MIRAI BASEは、現在函館で多方面に活躍する方たちや、これから活躍していく方たちの活動拠点となるための共同作業場です。')
meta(name="keywords", content='コワーキング,作業場,MIRAIBASE,未来ベース,ミライベース,貸しオフィス,未来')
meta(name='viewport' content='width=device-width,initial-scale=1.0')
meta(name='robots' content='noindex')

#topview
  img.logo(src="./images/mb-logo-vartical-green.svg", alt="")
  p 経験の芽を育てる土壌

#scrollDown
  - for (let i = 0;i < 4;i++);//セミコロンつけたらsublimeのハイライトが治ったけどfor分ちゃんと動いてないっぽいので最後に外す
    .line

#first.bc-green.section
  h2 直近のイベント

#event.bc-green.section
  .list
    .post(v-for='event in events')
      a(:href='event.link', target="_blank")
        img(:src='event.imageSrc' , :alt='event.title' v-bind:style='thumbnailStyle' @load='switchLoadingStyle')
        img.loading(src='./images/loading-white.svg' v-bind:style='loadingStyle')
      p.eventStatus(v-bind:class="event.statusColor") {{ event.status }}
      h3 {{event.title}}
      p.eventDate {{event.startDate}}
      p(v-HTML='event.desc')
  .error
    p {{errorMessage}}

#about.section
  h3 MIRAI BASEへようこそ
  .content
    .text
      h2 函館で頑張るみんなの基地を目指して
      p 個人的な作業やグループでの作業の場にしたり、共通の技術を用いる仲間とのコミュニケーションを行ったり、実際にものづくりをして経験を積んでみたり。MIRAI BASEは、現在函館で多方面に活躍する方たちや、これから活躍していく方たちの活動拠点となるための共同作業場です。
      p 電源、無線LANなどの各種インフラに加え、プリンタ/スキャナ、ディスプレイやプロジェクター、また事務用品、会議室など、複数人で利用可能な設備もご用意しております。
    .room
      .item
        img(src="https://placehold.jp/320x180.png", alt="")
        h3 asoviva - MIRAIABSEのメインスペース
        p 本コワーキングスペースのメインスペースで、比較的賑やかな雰囲気を許容して作業する場所。グループで開発したり、オフィスの人が仕事をしていたり、誰かがカウンターで談笑していたりします。(仮)
        p 収容可能人数:20人(仮)
      .item
        img(src="https://placehold.jp/320x180.png", alt="")
        h3 sigotova - MIRAIBASEのサブスペース
        p メインスペースとは扉で区切られた部屋で、個人や少数で集中して作業に取り組める場所です。学校の課題に向かったり、書類仕事を行ったり、ゆっくりと動画や画像を眺めたりといった使い方をしていただいてます。(仮)
        p 収容可能人数:20人(仮)
#service.bc-green.section
  h2 SERVICE <br> せつび・できること
  .list
    .item
      img(src="./images/service-microwave.jpg", alt="")
      h3 ソフトドリンク利用
      p 作業の合間にご利用いただけます。詳しくは料金についてをご覧ください。飲料等の持参も可能です。
    .item
      img(src="./images/service-microwave.jpg", alt="")
      h3 無線LAN
      p Wi-fiをご用意しております。MIRAIBASE内での作業にご利用ください。
    .item
      img(src="./images/service-printer.jpg", alt="")
      h3 プリンタ&amp;スキャナ
      p wi-fi経由で印刷利用が可能なプリンタを設置しています。既存の書類をコピーまたはスキャンすることも可能です。使用できる紙のサイズはA4, A3, B4, B3です。
    .item
      img(src="./images/service-microwave.jpg", alt="")
      h3 電源
      p 作業スペース内各所に電源コンセントをご用意しております。混雑している際にはお客様同士で譲り合ってご利用ください。
    .item
      img(src="./images/service-projector.jpg", alt="")
      h3 プロジェクター
      p イベントや会議の際にご利用いただけます。スクリーンもご用意してあります。詳しくはスタッフまでお声がけください。
    .item
      img(src="./images/service-whiteboard.jpg", alt="")
      h3 ホワイトボード
      p 個人作業時にアイデアを整理したり、複数人で会議を行う際などにもご利用いただけます。ペンや消すやつもあります。詳しくはスタッフまでお声がけください。
    .item
      img(src="./images/service-meetingRoom.jpg", alt="")
      h3 会議室
      p 複数人での会議等、別室で取り組みたい時のために個室をご用意しております。ご利用の際は事前にお問い合わせくださると、スムーズに利用できる場合があります。
    .item
      img(src="./images/service-microwave.jpg", alt="")
      h3 電子レンジ
      p 飲食物のお持込の際にご利用ください。

#price.section
  h2 MRIAIBASEをご利用の際の料金
  .list
    .item
      h3 ドロップイン
      .grid
        h4.u 学生
        .brank
        .h 二時間利用
        .n 100円
        .h 終日利用
        .n 200円
        h4.u 一般
        .brank
        .h 二時間利用
        .n 200円
        .h 終日利用
        .n 500円
    .item
      h3 部屋の貸切
      .grid
        h4.u asoviva
        .brank
        .h 一時間ごと
        .n 800円
        .h 終日貸切
        .n 4800円
        h4.u sigitova
        .brank
        .h 一時間ごと
        .n 800円
        .h 終日貸切
        .n 4800円
        h4.u 会議室
        .brank
        .h 時間にかかわらず
        .n 1800円
#reserved.section
  h2 部屋の貸し切り利用について
  p.read  MIRAI BASE内の部屋を、イベントや勉強会等で占有してご利用いただけます。ご利用の際は目的とご利用人数・ご利用時間を予めお知らせください。下記利用料は会場でお支払いください。
  
#map.section
  h2 アクセス
  iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2973.642528536144!2d140.75497011585747!3d41.81446057922727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f9ef42ee2a8a8f9%3A0x465635e7d9334cc8!2sMIRAI+BASE!5e0!3m2!1sja!2sjp!4v1519789031434" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)

footer.bc-green.section
  img(src="./images/mb-logo-horizontal-white.svg", alt="")
  p 〒041-0806 北海道函館市 美原２丁目７−２１ 万勝ビル1F
  p 070-2679-1920
  p asdfg@asdfgh.asdfg
  p.mtw 営業時間 平日 14:00-20:00

script(src='app.js')
