doctype html

title MIRAI BASE
meta(charset='utf-8')
meta(name='description' content='')
meta(name="keywords", content='キーワード')
meta(name='viewport' content='width=device-width,initial-scale=1.0')
meta(name='robots' content='noindex')

#topview
  img.logo(src="./images/mb-logo-vartical-green.svg", alt="")
  p では命じよう。―自害しろ、ランサー。

#scrollDown
  - for (let i = 0;i < 4;i++)
    .line

#first.bc-green.section
  h2 ABOUT MIRAI BASE

script(src='app.js')
