doctype html

title MIRAI BASE
meta(charset='utf-8')
meta(name='description' content='個人での作業やグループでの作業をしたり、共通の技術を用いる仲間とのコミュニケーションを行ったり、ものづくりをして経験を積んでみたり。MIRAI BASEは、現在函館で多方面に活躍する方々や、これから活躍していく方々の活動拠点となるための共同作業場です。')
meta(name="keywords", content='コワーキング,作業場,MIRAIBASE,未来ベース,ミライベース,貸しオフィス,未来')
meta(name='viewport' content='width=device-width,initial-scale=1.0')
meta(name='robots' content='noindex')

#topview
  img.logo(src="./images/mb-logo-vartical-green.svg", alt="")
  p 経験の芽を育てる土壌

#scrollDown
  - for (let i = 0;i < 4;i++)//セミコロンつけたらsublimeのハイライトが治ったけどfor分ちゃんと動いてないっぽいので最後に外す
    .line

#first.bc-green.section
  h2 直近のイベント

#event.bc-green.section
  .list
    .post(v-for='event in events')
      a(:href='event.link', target="_blank")
        img(:src='event.imageSrc' , :alt='event.title' v-bind:style='thumbnailStyle' @load='switchLoadingStyle')
        img.loading(src='./images/loading-white.svg' v-bind:style='loadingStyle')
      p.eventStatus(v-bind:class="event.statusColor") {{ event.status }}
      h3 {{event.title}}
      p.eventDate {{event.startDate}}
      p(v-HTML='event.desc')
  .error
    p {{errorMessage}}

#about.section
  h2 函館で頑張るみんなの基地をめざして
  .content
    .text
      p MIRAI BASEは、現在函館で多方面に活躍する方々や、これから活躍していく方々の活動拠点となるための共同作業場です。
      p 個人での作業やグループでの作業、フィールドワークの拠点、共通の技術を用いる仲間とのコミュニケーション、ものづくりなどにご利用ください。
      p 電源、無線LANなどの各種インフラに加え、プリンタやディスプレイ、プロジェクターなどの機材、また事務用品、会議室など、複数人で利用可能な設備もご用意しております。
    .room
      .item
        img(src="./images/asoviva.jpg", alt="")
        h3 asoviva - ラフな作業場
        p コミュニケーションを取りながら作業できる空間。グループで相談しながら開発を行ったり、少人数で打ち合わせをしたりといった形でご利用いただけます。
        p 収容可能人数:20人
      .item
        img(src="./images/dummy.png", alt="")
        h3 sigotova - 静かな作業場
        p 静かに集中して作業できる空間。個人の課題に集中したり、書類仕事を行ったりと、なにかに邪魔されたくない作業ができる部屋です。
        p 収容可能人数:20人
#service.bc-green.section
  h2 サービス / 設備
  .list
    .item
      img(src="./images/service-drink.svg", alt="")
      h3 ソフトドリンク販売
      p 格安でドリンクを提供しております。お越しの際にメニューをご確認ください。
    .item
      img(src="./images/service-wifi.svg", alt="")
      h3 無線LAN
      p 利用者専用のWi-Fiをご用意しております。パスワードはお越しの際にご確認ください。
    .item
      img(src="./images/service-printer.jpg", alt="")
      h3 プリンタ&amp;スキャナ
      p Wi-Fi経由で印刷, スキャンが可能です。使用できる紙のサイズはA4, A3, B4, B3です。
    .item
      img(src="./images/service-dengen.jpg", alt="")
      h3 電源
      p 各所にご用意しております。混雑している際は譲り合ってご利用ください。
    .item
      img(src="./images/service-projector.jpg", alt="")
      h3 プロジェクター
      p イベントや会議の際にご利用いただけます。詳しくはスタッフまでお声がけください。
    .item
      img(src="./images/service-whiteboard.jpg", alt="")
      h3 ホワイトボード
      p 一人でも複数人でもご利用いただけます。小さいサイズもご用意しております。
    .item
      img(src="./images/service-meetingRoom.jpg", alt="")
      h3 会議室
      p 一時間ごとに利用枠を設けております。ご利用の際は受付にてお申込みください。
    .item
      img(src="./images/service-microwave.jpg", alt="")
      h3 電子レンジ
      p あたためますか？

#price.section
  h2 利用料金
  .list
    .item
      h3 ドロップイン
      .grid
        h4 学生
        .plan 二時間利用
        .pay 100円
        .plan 終日利用
        .pay 300円
        h4 一般
        .plan 二時間利用
        .pay 200円
        .plan 終日利用
        .pay 500円
    .item
      h3 部屋の貸切
      .grid
        h4 asoviva
        .plan 一時間ごと
        .pay 800円
        .plan 終日貸切
        .pay 4800円
        h4 sigotova
        .plan 一時間ごと
        .pay 800円
        .plan 終日貸切
        .pay 4800円
        h4 会議室
        .plan 終日貸切
        .pay 1800円
#reserved.section
  h2 部屋の貸し切り利用について
  p MIRAI BASE内の部屋は、イベントや勉強会等で占有してご利用いただけます。ご利用の際は、目的とご利用人数・ご利用日時を予めお知らせください。貸切利用料は会場で代表者様よりお支払いいただきます。なお、部屋の貸切利用料にはMIRAI BASEの通常利用料が含まれております。
  p ご不明な点がございましたらお問い合わせください。
  
#map.section
  h2 アクセス
  iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2973.642528536144!2d140.75497011585747!3d41.81446057922727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f9ef42ee2a8a8f9%3A0x465635e7d9334cc8!2sMIRAI+BASE!5e0!3m2!1sja!2sjp!4v1519789031434" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)

footer.bc-green.section
  img(src="./images/mb-logo-horizontal-white.svg", alt="")
  p 〒041-0806 北海道函館市 美原２丁目７−２１ 万勝ビル1F
  p 070-2679-1920
  p.mtw 営業時間 平日 14:00-20:00

script(src='app.js')
