doctype html

title MIRAI BASE
meta(charset='utf-8')
meta(name='description' content='株式会社函館ラボラトリは、地方から世界に発信していく思いで2008年函館で活動を開始した開発拠点で、2017年に株式会社として現地法人化しました。函館には、情報系・地域系などをはじめ多くの高等教育機関があり、そこに集う先生方や優秀な人材とともに新しい技術に挑戦しようと活動を続けています。')
meta(name="keywords", content='キーワード')
meta(name='viewport' content='width=device-width,initial-scale=1.0')
meta(name='robots' content='noindex')

body
  h1 Hello world!
  p We are ready to go.

script(src='app.js')
