doctype html

title MIRAI BASE
meta(charset='utf-8')
meta(name='description' content='')
meta(name="keywords", content='キーワード')
meta(name='viewport' content='width=device-width,initial-scale=1.0')
meta(name='robots' content='noindex')

#topview
  img.logo(src="./images/mb-logo-vartical-green.svg", alt="")
  p では命じよう。―自害しろ、ランサー。

#scrollDown
  - for (let i = 0;i < 4;i++)
    .line

<<<<<<< current
#first.bc-green.section
  h2 ABOUT MIRAI BASE

#about.section
  h3 MIRAI BASEへようこそ
  .content
    img(src='https://placehold.jp/500x300.png?text=自害したランサー')
    .text
      h2 見出しで何かを書く
      p おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房

#service.bc-green.section
  h2 SERVICE <br> せつび・できること
  .list
    .item
      img(src="https://placehold.jp/200x200.png?text=自害ラン", alt="")
      h3 ソフトドリンク利用
      p おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房
    .item
      img(src="https://placehold.jp/200x200.png?text=自害ラン", alt="")
      h3 ソフトドリンク利用
      p おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房
    .item
      img(src="https://placehold.jp/200x200.png?text=自害ラン", alt="")
      h3 ソフトドリンク利用
      p おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房
    .item
      img(src="https://placehold.jp/200x200.png?text=自害ラン", alt="")
      h3 ソフトドリンク利用
      p おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房
    .item
      img(src="https://placehold.jp/200x200.png?text=自害ラン", alt="")
      h3 ソフトドリンク利用
      p おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房
    .item
      img(src="https://placehold.jp/200x200.png?text=自害ラン", alt="")
      h3 ソフトドリンク利用
      p おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房
    .item
      img(src="https://placehold.jp/200x200.png?text=自害ラン", alt="")
      h3 ソフトドリンク利用
      p おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房
    .item
      img(src="https://placehold.jp/200x200.png?text=自害ラン", alt="")
      h3 ソフトドリンク利用
      p おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房おのれ竹書房

#price.section
  h2 PRICE <br> おねだん
=======
#about

>>>>>>> before discard
script(src='app.js')
